<%- include("../partials/header") %>

<h3 class="pageHeaders">Suggest a debate topic</h3>
<div class="center-form">
    <form action="/suggest" class="pure-form pure-form-stacked" method="post">
        <fieldset>
            <label for="suggestTitle">Topic</label>
            <input class="pure-input-rounded" type="text" name="suggest[topic]" id="suggestTitle" placeholder="Type your debate suggestion here">
            
            <button class="pure-button submit-button" type="submit" name="createPost">Submit</button>
        </fieldset>
    </form>
</div>

<%- include("../partials/footer") %>