</div>
<footer class="footer">
    <a href="#">about</a>
    <a href="https://robint88.github.io">Made by Rob!n</a>
    <a href="#"> contact</a>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
    <!-- NAV SCRIPT -->
    <script src="/js/scripts.js"></script>
    <script src="/js/ajax.js"></script>
</body>
</html>