<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="/css/newstyle.css">


    <title>|thinky| debate and discuss</title>
</head>
<body>
    <nav class="pure-menu pure-menu-horizontal">
            <a href="/" class="pure-menu-heading pure-menu-link">|thinky|</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/categories" class="pure-menu-link">categories</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/debates" class="pure-menu-link">debates</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">about</a>
                </li>
            </ul>
            <ul class="pure-menu-list account-menu">
                <% if(!currentUser) { %>
                    <li class="pure-menu-item">
                        <a href="/login" class="pure-menu-link">login</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/register" class="pure-menu-link">register</a>
                    </li>
                <% } else {%>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link">Hi, <%= currentUser.username %></a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="/logout">logout</a>
                    </li>
                <%}%>
            </ul>
        </nav>
   
    <div class="container-fluid">