<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">

    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,800&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <script src="https://kit.fontawesome.com/00bd3e96c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/newstyle.css">

        <title>|ornara| <%= title %> </title>
    
</head>
<body>
        <nav>
            <a href="/" class="logo">
                <span class="logo-pipe">|</span>ornara<span class="logo-pipe">|</span>
            </a>
            <ul class="nav-links">
                <li>
                    <a href="/category">categories</a>
                </li>
                <li>
                    <a href="/debates">debates</a>
                </li>
                <li>
                    <a href="/suggest/new">submit</a>
                </li>
            <% if(!currentUser) { %>
                <li>
                    <a class="user-buttons" href="/login">login</a>
                </li>
                <li>
                    <a class="user-buttons" href="/register">register</a>
                </li>
            <% } else {%>
                <li>
                    <a class="user-buttons" href="#"><%= currentUser.username %></a>
                    <% if(currentUser.isAdmin){ %>
                        <span id="is-admin">
                            a
                        </span>
                    <% } %>
                </li>
                <li>
                    <a class="user-buttons" href="/logout">logout</a>
                </li>
            <% } %>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
   
        <% if(error && error.length > 0){ %>
            <div class="flash-message-error">
                    <h4><%= error %></h4>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="flash-message-success">
                    <h4><%= success %></h4>
            </div>
        <% } %>
    <div class="wrapper">
    