<%- include("partials/header") %>

<h3 id="about-header"> about  ornara</h3>

<section class="about">
    <article>
        <p class="about-p">
            Ornara is a place for those with a kean interest in current affairs and the way in which the world views them. Rather than presenting one persons view on a particular issue ornaras sole purpose is to present both sides to every argument on issues that are relevant to the readers. 
        </p>
        <p class="about-p">
                Each article is briefly summarised and presented in a way that proposes questions that need answers. It is the hope that these summaries present you with a snapshot of the issue at hand and load you with enough background to understand the debate and discussion that is to take place below. 
                Each debate consists of two writers - one arguing <em>for</em> the issue and one arguing <em>against</em> it. Each writer is invited to write around 500 words to argue their case. These writers have been hand selected by the moderators. Based on these two debates the readers can then vote on
                the argument they found the most convincing and also continue the debate in the discussion featured below the two arguments.
        </p>
        <p class="about-p">
            Users can also <a href="/suggest/new" id="suggest-link">suggest</a> topics to debate in the future. The aim is to create a discussion on any major talking point that is relevant to readers and to help convey both sides of an argument - though we must accept that the world isn't just black and white. 
        </p>
        <p class="about-p">
            If one is to understand a subject then one must study all its aspects - not just a single dogmatic view.
        </p>
    </article>
</section>
<%- include("partials/footer") %>