<%- include("./partials/header") %>
<h4 class="pageHeader">
    Reset password
</h4>
<div class="center-form">
    <form action="/forgot" method="post" class="pure-form pure-form-stacked">
        <fieldset>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </fieldset>
        <button type="submit" class="submit-button">Reset Password</button>
    </form>
</div>
<%- include("./partials/footer") %>