<%- include('./partials/header') %>

<h2 class="pageHeaders">Login</h2>

<div class="center-form">
    <form action="/login" class="pure-form pure-form-stacked" method="post">
        <fieldset>
            <label for="username">Username:</label>
            <input class="pure-input-rounded" type="text" name="username" id="username" placeholder="username" required>
            <label for="passord">Password:</label>
            <input class="pure-input-rounded" type="password" name="password" placeholder="password" required>
            <button class="" type="submit">login</button>
        </fieldset>
    </form> 
    <p class="userFormStrap">Not registered? <a href="/register"> Register here!</a></p>
</div>



<%- include('./partials/footer') %>

