<%- include('./partials/header') %>

<h2 class="pageHeaders">Register</h2>

<div class="center-form">
    <form action="/register" class ="pure-form pure-form-stacked" method="post">
        <fieldset>
            <label for="username">Username:</label>
            <input class="pure-input-rounded" type="text" name="username" id="username" placeholder="username" required>
            <label for="passord">Password:</label>
            <input class="pure-input-rounded" type="password" name="password" placeholder="password" required>
            <button class="" type="submit">register</button>
        </fieldset>
    </form>
    <p class="text-center userFormStrap">Already registered? <a href="/login"> Login here!</a></p>
</div>



<%- include('./partials/footer') %>

