<%- include("./partials/header") %>
<h4 class="pageHeaders">
    Reset your password
</h4>
<div class="center-form">
    <form action="/reset/<%= token %>" method="post" class="pure-form pure-form-stacked">
        <fieldset>
            <label for="password">New Password</label>
            <input type="password" name="password" id="password">
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" id="confirm">
        </fieldset>
        <button type="submit" class="submit-button">Reset password</button>
    </form>
</div>
<%- include("./partials/footer") %>