* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h1{
    text-align: center;
}
h2 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

h4 {
    font-size: 20px;
}
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.pageHeaders {
    margin: 15px auto;
    text-align: left;
    font-size: 20px;
}
/* OWN NAV */

nav {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    min-height: 8vh;
    align-items: center;
    background: #242f40;
    color: #fff;
    padding: 19px;
}
.logo {
    letter-spacing: 3px;
    font-size: 25px;
    color: #cca43b;
}
.logo:hover{
    color: #fff;
    background: -webkit-linear-gradient(#fff, #cca43b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo:hover .logo-pipe {
    color: #fff;
    background: -webkit-linear-gradient(#cca43b, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.nav-links {
    width: 40%;
}
.nav-links a {
    color: #e5e5e5;
    text-decoration: none;
    letter-spacing: 2px;
}

ul li {
    list-style: none;
}
.nav-links a:hover {
    color: #cca43b;
    cursor: pointer;
}

.user-buttons {
    color: #cca43b !important;
    font-size: 13px;
    margin-left: 10px;
}
.user-buttons:hover {
    color: #c54242 !important;
}
.burger {
    display: none;
}

.burger div {
    width: 25px;
    background-color: #e5e5e5;
    height: 2px;
    margin: 5px;
    transition: all 0.3s ease;
}

.flash-message-error {
    background: rgba(197, 66, 66,0.8);
    width: 66%;
    text-align: center;
    margin: 15px auto;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
}
.flash-message-success {
    background: #e5e5e5;
    width: 66%;
    text-align: center;
    margin: 15px auto;
    padding: 8px;
    color: #cca43b;
    border-radius: 5px;
}

/* INDEX PAGE */

#index-banner {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#p-btn{
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    opacity: 0.6;
    color: #cca43b;
    background: rgba(36, 47, 64, 0.8);
    padding: 8px;
    border-radius: 50%;
}
#n-btn{
    position: absolute;
    top: 40%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    opacity: 0.6;
    color: #cca43b;
    background: rgba(36, 47, 64, 0.8);
    padding: 8px;
    border-radius: 50%;
}

#n-btn:hover,
#p-btn:hover {
    color:#242f40;
    background: rgba(204, 164, 59, 0.8);
    box-shadow: 0 5px 15px #363636;
}

.carousel-container {
    width: 100%;
    
    overflow: hidden;
    text-align: center;
    
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 85vh;
}
.carousel-item {
    min-width: 100%;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* height: 500px; */
}

.carousel-content {
    background: rgba(36, 47, 64, 0.5);
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-content:hover {
    background: rgba(36, 47, 64, 0.8);
}
.carousel-content h4 {
    color: #cca43b;
    font-size: 30px;
}

.index-section {
    margin-top: 30px;
}

.index-category-header {
    padding: 10px;
}

#index-debates {
    background: #242f40;
    /* height: 80vh; */
    padding: 50px 20px;
}

.index-debate-item,
.debate-page-item {
    display: flex;
    margin: 10px;
    background: #fff;
    color: #363636;
    height: 200px;
    border-radius: 50px;
}

.index-debate-header,
.debate-page-header {
    color: #302828;
    font-size: 30px;
}

.index-debate-content,
.debate-page-content {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-debate-content:hover p{
    color: #242f40;
}
.index-debate-summary {
    padding: 10px;
}
.index-debate-img,
.debate-page-img {
    height: 200px;
    max-width: 300px;
}
.index-debate-item:hover,
.debate-page-item:hover {
    background: #cca43b;
    color: #363636;
    transform: scale(0.97);
    box-shadow: 0 5px 15px #363636;
}

#index-all-debates {
    color: #e5e5e5;
    position: absolute;
    right: 20px;
}

#index-all-debates:hover {
    color: #cca43b;
}

.index-cat-item {
    color: #fff !important;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    color: #363636;
    filter: grayscale(70%);
    background: #cca43b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.debate-item {
    color: #fff !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    color: #363636;
    filter: grayscale(70%);
    background: #cca43b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.debate-item-date {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #242f40;
    /* color: #fff !important; */
    padding: 5px;
}

.index-cat-item h4,
.debate-item h4 {
    background: #242f40;
}
.index-cat-item:hover,
.debate-item:hover {
    background: #363636;
    cursor: pointer;
    color: #cca43b;
    filter: none;
    transform: scale(0.96);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 15px #363636;
}

.debate-item p, h2 {
    font-weight: 300;
    color: #fff;
}
.debate-item:hover p {
    font-weight: 300;
    color: #cca43b;
}

/* DEBATES PAGE */

#unpublished-button {
    background: #242f40;
    color: #e5e5e5;
}

#published-debates {
    background: #242f40;
    padding: 10px;
}

#unpublished-debates {
    padding: 10px;
    background: #cca43b;
    display: none;
}


.debate-page-item:hover p,
.index-debate-item:hover p {
    color: #fff;
}
.debate-page-cat,
.index-page-cat {
    color: #cca43b;
}

.debate-page-date {
    color: #242f40;
    font-size: 12px;
}


.center-form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form ,
fieldset {
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 input {
     width: 100%;
 }


 .user-form {
     margin: auto;
 }

 button:focus {
     outline:0;
}
 
 .submit-button {
     background: #cca43b;
     color: #e5e5e5;
     padding: 5px;
     margin: 15px auto;
     border-radius: 3px;
 }

 .submit-button:hover {
     background: #e5e5e5;
     color: #cca43b;
     cursor: pointer;
 }
 /* DEBATE SHOW PAGES */
 .mod-title {
     color: #fff;
     font-size: 20px;
 }
 .moderator-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #cca43b;
    padding: 20px;
 }
 .moderator-debate-content {
     padding: 20px;
     background: #242f40;
     color: #e5e5e5;
     text-align: center;
     margin: 15px auto;
 }

 .add-content-button {
     width: 90px;
     margin: 10px 5px;
     background: #e5e5e5;
     color: #242f40;
 }
 .delete-form {
    display: inline;
}
.edit-debate-button {
    background: #fff;
    color: #cca43b;
}
.delete-button {
    background: #c54242;
    color: #fff;
}
.edit-args {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.edit-argument-button {
    background: #363636;
    color: #fff;
}

.publish-debate {
    margin: 10px;
}

.publish-button {
    background: #242f40;
    color: #cca43b;
    width: 100%;
}

#debate-c-and-d {
    text-align: right;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 50%;
    width:50%;
    padding: 5px;
}
#debate-c-and-d a {
    color: #cca43b;
}
#debate-c-and-d a:hover {
    color: #c54242;
}

#remove-debate-button {
    color: #e5e5e5;
    background: #242f40;
    padding: 5px;
    margin: 10px;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cca43b;
    height: 200px;
}

.show-header {
    /* height:75vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content {
    background: rgba(36, 47, 64,0.5);

}
.debate-header {
    font-size: 80px;
    padding: 70px;
    color: #fff;

}
 .debate-summary {
     padding: 10px 50px;
     color: #fff;
 }

 .debate-section {
     width: 100%;
     height: auto;
 }
 .argument-against {
     background:#363636;
     color: #fff;
 }

 .argument {
     padding: 100px;
 }

 .argument-summary h4{
    text-align: center;
 }
.argument-author {
    color: #c54242;
}
 .argument-content {
    white-space: pre-line;
 }
 .argument-content::first-letter{
     color: #cca43b;
     font-size: 4rem;
 }

 .case-header {
     padding: 20px;
 }

 #vote-section {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 35px;
 }
 #voting-buttons {
     display: flex;
     width: 80%;
     justify-content: space-around;
 }

 .vote-button-section {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .votingForms {
    display: inline;
    margin: auto 40px;
}
/* .vote-button {
    background: #cca43b;
    color: #fff;
} */

.vote-button {    
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    color: #cca43b;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: solid 2px #cca43b;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
}
      
.vote-button:hover {
    background: #c54242;
    cursor: pointer;
}
.login-notification {
    padding: 40px;
}
.discussion {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.discussion-join {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

#comment-login {
    text-align: center;
    padding: 30px;
}

.edit-comment-form{
    display: none;
}

textarea {
    width: 100%;
}
.comment-item {
    padding: 1px 25px;
    border-top: 1px solid #cca43b;
}
.comment-body{
    padding-top: 0;
    white-space: pre-line;  
}
.comment-author {
    padding-top: 0;
    text-align: right;
}
#edit-comment {
    background: #e5e5e5;
    color: #cca43b;
}

.delete-comment-form {
    display: inline;
}
#delete-comment-button {
    width: 100px;
    background: #c54242;
    color: #fff;
}

select {
    width: 100%;
}



@media screen and (max-width: 1080px){
/* OWN NAV */
body {
    overflow-x: hidden;
}

nav {
    padding: 0px;
}
.nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: #242f40;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
    z-index: 99;
}
.nav-links li {
    opacity: 0;
}

.burger {
    display: block;
    cursor: pointer;
}

.nav-active {
    transform: translateX(0);
}

.pageHeaders {
    font-size: 25px;
    margin: auto;
}
.debate-header {
    font-size: 40px;
    padding: 20px;
}
.debate-summary {
    display: none;
}
.carousel-slide {
    height: 60vh;
}

.index-debate-img,
.debate-page-img {
    width: 40%;
}

.index-debate-header,
.debate-page-header {
    font-size: 25px;
}
.index-debate-summary {
    display: none;
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.burgertoggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burgertoggle .line2 {
    opacity: 0;
}
.burgertoggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.argument {
    padding: 25px;
}
/* gold = #cca43b
jet = #363636
platinum = #E5E5E5
gun metal = #242f40
white = #fff */