body{
    background: #2E294E;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-toggler,
.navbar-toggler,
.navbar-toggler-icon {
    border: none;
}

.navbar-toggler:hover {
    color: teal !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.container-fluid {
    padding: 0;
}

.navbar-dark .navbar-brand {
    /* color: #D1495B; */
    font-size: 2rem;
}
.navbar-dark .navbar-brand:hover {
    color: #00798C;
}

.navbar-dark .navbar-nav .nav-link {
    color: #EDAE49;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #00798C;
}
.btn-outline-dark {
    color: #EDAE49;
}

h2, h3 {
    color:#EDAE49;
}

h4, h5 {
    color: #fff;
}

hr {
    background: #00798C;
    width: 75%;
}

a {
    text-decoration: none;
}

.centred-text {
    text-align: center;
}

.carousel-item {
    height: 500px;
    padding-top: 0;
}

.carousel-image {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption{
    background:#2e294e;
    border-radius: 5px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23EDAE49' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23EDAE49' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.pageHeaders{
    margin-top: 2%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: normal;
}

.debateContent {
    white-space: pre-line;
}

#debateTopics {
    margin-top: 2%;
}

.debateTitle {
    min-height: 225px;
    text-align: left;
    background: #00798C;
    color: #fff;
}

.debateTitle:nth-child(even){
    background: #2E294E;
    color: #fff;
}
.debateTitle:nth-child(even):hover {
    color: #EDAE49;
}

.debateTitle:hover {
    text-decoration: none;
    background: #fff
}
.caption {
    font-size: 50px;
    text-align: left;
    padding-top: auto;
}

.caption:hover {
    color: #EDAE49;
}

#forContent {
    padding: 3%;
}

#againstContent {
    background: rgba(0, 121, 140, 0.466);
    padding: 3%;
}

#joinDiscBtn {
    color:white;
}

#joinDiscBtn:hover{
    color: #00798C;
    text-decoration: underline;
}

#commentSect {
    border-radius: 10px;
    background: rgba(0, 121, 140, 0.384)
}

.comment{
    padding: 3px;
}

.comment:nth-child(even){
    background: rgba(237, 174, 73, 0.1);
}

.userFormStrap{
    margin-top: 2%;
    font-size: 0.9rem;
}

.delete-form {
    display: inline;
}

#discussionSection {
    padding-bottom: 2.5%;
}

/* GRID */



.debate-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.debate-item {
    height: 210px;
    background: #EDAE49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.debate-item h3 {
    color: #00798C;
}

.debate-item:hover {
    text-decoration: none;
    background: #00798C;
    transform: scale(0.97);
}

.debate-item:hover h3 {
    color: #EDAE49;
}

/* SHOW PAGES */

.moderator-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #EDAE49;
    padding: 20px;
}
.coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EDAE49;
    height: 200px;

}
.moderator-debate-content {
    text-align: center;
    width: 40%;
    border: #00798C 2px solid;
    padding: 15px;
}

.argument {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.debate-section div:nth-child(2) {
    background: white;
    color: #00798C;
}

.argument h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}
.debate-section div:nth-child(2) h3 {
    color: #00798C;
}

.argument-author {
    margin-bottom: 10px;
}

.argument-content {
    width: 75%;
    white-space: pre-line;
}
.moderator-title {
    font-size: 13px;
    opacity: 0.8;
}

.discussion {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.discussion-join {
    display: flex;
    justify-content: flex-end;
}
.comment-item {
    padding: 10px 25px;
    border-top: 1px solid #00798C;
    
}

.votingForms {
    display: inline;
    margin: auto 40px;
}

#debates-link {
    text-align: center;
    padding: 10px;
}

#debates-link a:hover {
    color: #EDAE49;
    text-decoration: none;
}
#debates-link h5:hover {
    color: #EDAE49;
}

.comment-author {
    display: flex;
    justify-content: flex-end;
}

/* MEDIA */

@media only screen and (max-width:700px){
    .carousel-item {
        height: 300px;
    }
    .carousel-caption {
        opacity: 0.8;
    }
    .debate-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px;
    }
    .argument-content {
        padding: 10px;
        width: 90%;
    }
    h1 {
        font-size: 35px !important;
    }
}
