<%- include('../partials/header') %>
<h3>Your input on - <em><%= debate.title %></em></h3>

<div class="row justify-content-sm-center">
    <div class="col-md-10">
        <form action="/debates/<%= debate._id %>/discussion" method="post">
            <div class="form-group">
                <label for="debateAuthor">User</label>
                <input class="form-control" type="text" name="comment[author]" id="debateAuthor">

                <label for="debateContent">Discuss</label>
                <textarea class="form-control" name="comment[text]" id="debateContent" cols="30" rows="10" placeholder="Write your argument here"></textarea>
            </div>
            <button class="btn btn-outline-info" type="submit" name="createPost">publish</button>
        </form>
    </div>
</div>


<%- include('../partials/footer') %>