<%- include('../partials/header') %>
<h3 class="pageHeaders">Your input on - <em><%= debate.topic %></em></h3>

<div class="center-form">
        <form action="/debates/<%= debate._id %>/discussion" method="post" class="pure-form pure-form-stacked">
            <fieldset>
                <!-- <label for="debateAuthor">User</label>
                <input class="form-control" type="text" name="comment[author]" id="debateAuthor"> -->

                <label for="debateContent">Discuss</label>
                <textarea class="form-control" name="comment[text]" id="debateContent" cols="30" rows="10" placeholder="Write your argument here"></textarea>
    
                <button class="submit-button" type="submit" name="createPost">publish</button>
            </fieldset>
        </form>
</div>


<%- include('../partials/footer') %>