<%- include("../partials/header") %>

<h2 class="pageHeaders">New Debate</h2>

<div class="center-form">
    <form action="/debates" class="pure-form pure-form-stacked" method="post">
        <fieldset>
            <label for="debateTitle">Topic</label>
            <input class="pure-input-rounded" type="text" name="debate[topic]" id="debateTitle">
            <label for="debateSummary">Summary</label>
            <input class="pure-input-rounded" type="text" name="debate[summary]" id="debateSummary">
            <label for="debateImage">Image</label>
            <input class="pure-input-rounded" type="text" name="debate[image]" id="debateImage">
            <label for="debateCategory">Category</label>
            <select class="" data-style="btn-info" id="debateCategory" name="debate[category]">
                <optgroup label="debate category">
                        <% categories.forEach(function(category){ %>
                                <option name="" value="<%= category._id %>"><%= category.name %></option>
                        <% }) %>
            </select>
            <button class="pure-button submit-button" type="submit" name="createPost">create debate</button>
        </fieldset>
    </form>
</div>

<%- include("../partials/footer") %>