<%- include("../partials/header") %>

<h1 class="text-center">
    Current Debates
</h1>
<div class="row" id="debateTopics">
    <% debates.forEach(function(debate){ %>
        <a href="debates/<%=debate._id%>" class=" col-md-6 col-lg-4 col d-flex debateTitle">
            <h4 class="caption d-flex align-items-center">
                <%= debate.topic %>
            </h4>        
        </a>
    <% }) %>
</div>
<%- include("../partials/footer") %>