<%- include("../partials/header") %>

<h2 class="pageHeaders">
    Current Debates
</h2>
<div class="debate-grid">
    <% debates.forEach(function(debate){ %>
        <a href="debates/<%= debate._id %>" class="debate-item">
            <h3><%= debate.topic %></h3>
        </a>
    <% }) %>
</div>
<%- include("../partials/footer") %>