<%- include("../partials/header") %>

<h1 class="text-center">
    Current Debates
</h1>
<div class="row">
    <% debates.forEach(function(debate){ %>
        <a href="debates/<%=debate._id%>" class="col-sm-6 col-lg-4 col d-flex debateTitle">
            <h3 class="caption d-flex align-items-center">
                <%= debate.topic %>
            </h3>        
        </a>
    <% }) %>
</div>

<%- include("../partials/footer") %>