<%- include("../partials/header") %>

<h2 class="pageHeaders"><%= debate.topic %></h2>

<div class="row justify-content-sm-center">
    <div class="col-md-10">
        <form action="/debates/<%= debate._id%>/against" method="POST">
            <div class="form-group">

                <h4>Against</h4>
                
                <label for="debateAgainstAuthor">Content Author</label>
                <input type="text" id="debateAgainstAuthor" name="against[author]" class="form-control" placeholder="Add author name">

                <label for="debateagainstContent">Content</label>
                <textarea class="form-control" name="against[content]" id="debateagainstContent" cols="30" rows="10" placeholder="Write your argument here"></textarea>
                
            </div>
            <button class="btn btn-outline-info" type="submit" name="createPost">publish</button>
        </form> 
    </div>  
</div>

<%- include("../partials/footer") %>